http_interactions:
- request:
    method: get
    uri: https://www.fema.gov/api/open/v1/DataSets
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      x-response-time: 9.720ms
    body:
      encoding: UTF-8
      file: no
      string: '{"metadata":{"skip":0,"top":1000,"count":0,"filter":"","format":"json","metadata":true,"select":null,"entityname":"DataSets","version":"v1","url":"/api/open/v1/DataSets","rundate":"2021-10-29T11:52:46.814Z"},"DataSets":
        [{"identifier":"openfema-1","name":"PublicAssistanceFundedProjectsSummaries","title":"Public
        Assistance Funded Project Summaries","description":"FEMA provides supplemental
        Federal disaster grant assistance for debris removal, emergency protective
        measures, and the repair, replacement, or restoration of disaster-damaged,
        publicly owned facilities and the facilities of certain Private Non-Profit
        (PNP) organizations through the Public Assistance (PA) Program (CDFA Number
        97.036). The PA Program also encourages protection of these damaged facilities
        from future events by providing assistance f[...]
[...]
